<div class="leftside">
  <ul>
  <li><a href="javascript:;"><i class="fa fa-user-plus" aria-hidden="true"></i> Add header</a></li>
  <li><a href="javascript:;"><i class="fa fa-address-card-o" aria-hidden="true"></i> Add logo</a></li>
  <li><a href="javascript:;"><i class="fa fa-address-book-o" aria-hidden="true"></i> Add text</a></li>
  <li><a href="javascript:;"><i class="fa fa-picture-o" aria-hidden="true"></i> Add backround image</a></li>
  <li><a href="javascript:;"><i class="fa fa-tags" aria-hidden="true"></i> Add offers</a></li>
  <li><a href="javascript:;"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Choose a Layout</a></li>
  <li><a href="javascript:;"><i class="fa fa-share-square-o" aria-hidden="true"></i> Social Media</a></li>
  <li><a href="javascript:;"><i class="fa fa-hdd-o" aria-hidden="true"></i> Save</a></li>
  <li><a href="javascript:;"><i class="fa fa-search-plus" aria-hidden="true"></i> Preview</a></li>
  </ul>
</div>
