<div class="container-fluid page-body-wrapper">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 mb-4">
              <div class="text-right">
                     <button class="btn quick-reviewbut" data-toggle="modal" data-target="#exampleModal">Quick Review</button>
              </div>
        </div>
      </div>
      <div class="row">
        <rv-review-counter class="col-xl-6 mb-4"></rv-review-counter>
        <div class="col-xl-6 grid-margin stretch-card">
          <div class="card monthlyheading">
      <h1>Monthly Records</h1>
             <div class="card-body graphbox">
               <canvas id="total-sales-chart"></canvas>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
   <p class="card-title">Latest Review</p>
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" cellpadding="0" cellspacing="0">
                  <thead>
                    <tr class="border-top-0">
                      <th class="text-muted">S. No.  </th>
                      <th class="text-muted">Platform</th>
                      <th class="text-muted">Review</th>
                      <th class="text-muted">Rating</th>
                      <th class="text-muted">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><a href="javascript:;"><img src="../assets/images/facebook.png"></a></td>
                      <td>Working for cascade enforcement has been a great opportunity for me
          They actually care about their people and willing to work them </td>
                      <td><img src="../assets/images/small-star.jpg"></td>
                      <td>12/04/2019 </td>
                    </tr>
      <tr>
                      <td>2</td>
                      <td><a href="javascript:;"><img src="./assets/images/twitter.png"></a></td>
                      <td>Working for cascade enforcement has been a great opportunity for me
          They actually care about their people and willing to work them </td>
                      <td><img src="./assets/images/small-star.jpg"></td>
                      <td>12/04/2019 </td>
                    </tr>
        <tr>
                      <td>3</td>
                      <td><a href="javascript:;"><img src="./assets/images/linked.png"></a></td>
                      <td>Working for cascade enforcement has been a great opportunity for me
They actually care about their people and willing to work them </td>
                      <td><img src="../assets/images/small-star.jpg"></td>
                <td>12/04/2019 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- main-panel ends -->
</div>
