
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card borcard">
        <div class="card-body">
          <div class="d-flex flex-wrap align-items-baseline">
  <a href="total-review.html">
  <div class="total-review">
      <ul>
        <li><img src="../assets/images/vector-icon1.png"></li>
        <li>
        <p>Total Review </p>
        <span>37</span>
        </li>
        </ul>
    </div>
    </a>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body borcardtwo">
        <div class="d-flex flex-wrap align-items-baseline">
<a href="total-customer.html">
  <div class="total-review">
      <ul>
        <li><img src="../assets/images/vector-icon2.png"></li>
        <li>
        <p>Total Customer </p>
        <span>100</span>
        </li>
        </ul>
</div>
</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-md-6 grid-margin">
      <div class="card">
        <div class="card-body borcardthree">
            <div class="d-flex flex-wrap align-items-baseline">
<a href="unhappy-customer.html">
  <div class="total-review">
      <ul>
        <li><img src="../assets/images/vector-icon3.png"></li>
        <li>
        <p>UnHappy </p>
        <span>30</span>
        </li>
        </ul>
    </div>
    </a>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 grid-margin">
      <div class="card">
        <div class="card-body borcardfour">
      <div class="d-flex flex-wrap align-items-baseline">
    <a href="total-happy.html">
  <div class="total-review">
      <ul>
        <li><img src="../assets/images/vector-icon4.png"></li>
        <li>
        <p>Happy</p>
        <span>20</span>
        </li>
        </ul>
    </div>
    </a>
          </div>
        </div>

      </div>
    </div>
  </div>
